body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  height: 55px;
  width: 100%;
  background-color: #b9ab91;
}

.navbar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding-top: 5px;
}

.card {
  display: flex;
  padding-top: 20px;
  padding-left: 39px;
}

.card--image {
  width: 200px;
  /* height: 168px; */
  height: 300px;

  border-radius: 5px;
}

.card--wallpaper-carousel {
  padding: 10px;
}

.card--info {
  padding-left: 10px;
}

.card--location {
  display: flex;
}

.card--h5 {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.17em;
  padding-left: 5px;
}

.card--icon {
  padding-top: 10px;
  width: 25px;
  height: 25px;
}

.card--type {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

.card--champions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 80px;
}

.card--champion--list {
  padding-right: 5px;
}
.card--champion--list > h5 {
  text-align: center;
  margin: 0;
}

.card--champion--splash {
  width: 100%;
}

.card--champion--icon {
  border-radius: 50%;
  padding-right: 7px;
  width: 50px;
  margin: auto;
  height: 40px;
}

.card--champions--h5 {
  width: fit-content;
}

p {
  font-size: 16px;
  line-height: 150%;
  max-width: 90%;
}

.languages--selector {
  display: flex;
  flex-direction: row;
  margin-left: 70%;
}

#lang {
  cursor: pointer;
}

.flag {
  width: 20px;
  margin-right: 5px;
}
